
*{
    margin:0;
    padding :0;
    box-sizing:border-box;
    font-family:'Poppins' ,serif;
}

body{
   margin:10;
   height: 100vh;
   background-color: rgba(88, 127, 144, 0.388);
   font-weight: bold;
   /* width: 550px; */
   /* display: flex;
   justify-content: center; */
   /* text-align: center;
   align-items: center; */
}
header{
    background-color:#147fa2;
    color:rgb(255, 255, 255);
    text-align:center;
    padding:10px 0px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
}
.form-body{
    background-color: rgb(255, 255, 255);
    width: 450px;
    /* height: 400px; */
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    /* border-radius: 5px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* flex-wrap: wrap;*/
    gap: 20px; 
    border: 3px solid rgb(123, 136, 165);
}
#fname:hover, #email:hover, #phone:hover{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 10px 1px;
    border-radius: 4px;
    font-size: 16px;
    transition: 0.3s;
}
.form-body input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    /* width: 1; */
    /* height: auto;
    flex-direction: row;
    gap: 10px; */
}
.submit-btn{
    width: 100%;
    height: 60px;
    background-color: #147fa2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:.3s;
    font-size:20px;
}
.submit-btn:hover{
    background: #c0c7d4;
    transform: scale(1.05,1);
}
 .form-row .input-field{
    display: flex;
    flex-direction: row;
    gap: 3px;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    margin-bottom: 15px;
    font-size: 17px;
    border-radius: 20px;
    outline: none;
    transition: .3s;
    border: 3px solid rgb(140, 147, 188);

    /* margin-right: 20px; */
 }
 ::placeholder{
    color: #222;
    font-weight: 400;
    font-size: 20px;
 }
.input-field:hover{
    background: #fff;
    transform: scale(1.05,1);
}

.year-select select {
  padding: 0 25px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  /* border: 1px solid #ccc;
  border-radius: 4px;
  flex: none;
  background-color: white;
  cursor: pointer; */
  margin-top: 10px;
  margin-bottom :15px;
  border-radius: 20px;
    /* box-shadow: 0px 5px 10px 1px; */
    outline: none;
    transition: .3s;

}
.year-select select:hover{
    background: #fff;
    transform: scale(1.05,1);
}

.event-select {
  margin-top: 0px;
  margin-bottom :15px;
  padding: 0 25px;
  /* margin-bottom: 20px; */
  font-size: 16px;
  /* display: flex; 
  flex-direction: row;
  gap: 8px; */
  color: #222;
    font-weight:700;
    font-size: 20px;
}
.event-select select:hover{
    background: #fff;
    transform: scale(1.05,1);
}
.event-select select{
    margin: auto;
}
.gender-row{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    color: #222;
    font: weight 700px;
    font-size: 20px;

}
.gender-options{
    margin-top: auto;
    color: #222;
    font-weight:500;
    font-size: 20px;
}
.year-select{
    color: #222;
    font: weight 700px;
    font-size: 20px;
}
#year{
    border: 3px solid rgb(140, 147, 188);
    outline: none;
}
.gender-options input[type="radio"] {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.gender-options input[type="radio"]:hover {
    transform: scale(1.2);
}

.event-options{
    font-weight: 500;
}
.event-options input[type="checkbox"]{
    cursor: pointer;
    transition: transform 0.2s ease;
}
.event-options input[type="checkbox"]:hover{
    transform: scale(1.2);
}



